.logo-sizing{
    width: 25%;
}
/* width */
::-webkit-scrollbar {
width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(11, 78, 2);
visibility: collapse;
border-radius: 10px;
transition: 500ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #04ff42;
visibility: visible;
transition: 500ms;
}



@media (min-width: 768px) {
    .logo-sizing{
        width: 10%;
    }
}