<div class ="container-fluid">
    <div class="row justify-content-stretch">
        <div class ="col-md-6 p-4">
            <h1 class ="h6">ABC Jobs Pte Ltd</h1>

        </div>
        <div class ="col-md-6 p-4">
            <p style="font-size: 0.5rem;">
                ABC Jobs Pte Ltd. serves both as a networking site and Job advertising website. Explore the world through
                connecting with people on the same field and industry. Acquire skills through collaboration, and find a suitable
                job best for you. The website however, does not take any liability such that the job advertisement posted is a scam.
                Rest assured that the company also makes sure that the job opportunity posted is valid, and profitable for both the
                client and the employer.
            </p>
                <h6 class ="text-end" style="font-size: 0.5rem;">&copy; All rights reserved ABC Jobs Pte Ltd</h6>
        </div>
    </div>
</div>