<nav class ="navbar navbar-expand-md navbar-light bg-light py-3" id = "header">
    
    <img src ="../images/UIF_summative_Logo.png" class = "logo-sizing ms-2"/>
    <a href ="#" class ="navbar-brand ms-2">
        <h1 class = "h2 d-inline-block text-success">ABC Jobs Pte Ltd</h1>
     </a>

    <button class  ="navbar-toggler collapsed me-2" type = "button" data-bs-toggle ="collapse" data-bs-target ="#navs" aria-controls="navs" aria-expanded="false" aria-label="Toggle Navigation">
        <span class = "navbar-toggler-icon"></span>
    </button>
    <div class = "navbar-collapse collapse ps-3" id ="navs">

        <!--  for logged in users-->
         <form class  ="form-inline my-2 my-md-0 row">
             <div class ="input-group">
                <button type = "button" class = "btn btn-success input-group-text bi bi-search">
                </button>
                <input class ="form-control me-sm-2" type = "text" placeholder="search">
             </div>
            
        </form>

        <ul class ="navbar-nav mx-auto me-5 mt-4">

            <!--  for logged in users-->
            <li class = "nav-item mx-2">
                <a href = "#" class = "nav-link btn text-success">
                    <div class = "bi bi-people-fill d-none d-md-block"></div>
                    <p>Network</p>
                </a>
            </li>
            <li class ="nav-item mx-2">
                <a href = "#" class = "nav-link btn text-success">
                    <div class = "bi bi-briefcase d-none d-md-block"></div>
                    <p>Jobs</p>
                </a>
            </li>
            <li class = "nav-item dropdown mx-2">
                <a class = "nav-link btn text-success" href = "#" id = "dropdown04" data-bs-toggle = "dropdown" aria-haspop ="true" aria-expanded="false">
                    <div class = "bi bi-bell d-none d-md-block"></div>
                    <p>Notifications</p>
                </a>
                <ul class ="dropdown-menu">
                    <li class ="dropdown-item">Action</li>
                    <li class ="dropdown-item">Do</li>
                    <li class = "dropdown-item">Something</li>
                </ul>
            </li> 
            <li class ="nav-item mx-2">
                <a href = "#" class = "nav-link btn text-success">
                    <div class = "bi bi-gear d-none d-md-block"></div>
                    <p>Settings</p>
                </a>
            </li>
        </ul>
    
    </div>

</nav>